<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no,viewport-fit=cover">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://demo.productionready.io/main.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <title>Home1</title>
    <!-- HEADER: VUEJS GENERATED SCRIPT -->
  </head>
  <body>
    <noscript>
      <strong>브라우저의 자바스크립트가 활성가 안됨</strong>
    </noscript>
    <div id="app"></div>
    <!-- BODY: VUEJS GENERATED SCRIPT -->
    <th:block th:remove="tag" th:if="${nodeJsProxyEnabled}">
	    <script type="text/javascript" src="/js/chunk-vendors.js"></script>
	    <script type="text/javascript" src="/js/chunk-common.js"></script>
	    <script type="text/javascript" src="/js/display.js"></script>
    </th:block>
    <th:block th:remove="tag" th:unless="${nodeJsProxyEnabled}">
	    <script type="text/javascript" src="/js/chunk-vendors.dfafb000.js"></script>
	    <script type="text/javascript" src="/js/display.f5d34041.js"></script>
    </th:block>
  </body>
</html>
